body {
    background-color:#F1F1F1;
    font-family:'Anonymous Pro','Russo One';
    margin:0px;
}
header {
    background-color: #fff;
    padding:30px 0px;
}
.header-content {
    align-items: center;
    justify-content: space-between;
    display: flex;
}
h3, p, h2{
    margin: 0;
}
.logo {
    width:212px;
}
.image-cross {
    display: flex;
    align-items: center;
}
.social {
    display:flex;
    gap:24px;
}
nav ul {
    display: flex;
    list-style: none;
    gap:24px;
    padding: 0;
}
.element {
    display: flex;
    flex-direction: row;
}
.social a{
    font-size:20px;
    color:#121723;
    text-decoration:none;
    font-weight: 700;
}
.footer a {
    font-weight: 700;
}
.new {
    font-family: 'IBM Plex Mono';
    font-size: 48px;
    color:#121723;
    margin-top:32px;
}
.container {
    max-width: 1440px;
    padding: 0 140px;
    box-sizing: border-box;
    margin: 0 auto;
   }
.block-card {
    width:100%;
    margin: 0 auto;
    border-radius:50px;
    background-color: #fff;
    margin-top: 32px;
    box-sizing: border-box;
    padding:48px 48px 48px 48px;
    padding-right: 48px;
}
.big-text {
    width:100%;
    font-size:48px;
    font-weight: 400;
    margin-top:32px;
}
.big {
    font-size:48px;
    font-weight: 400;
}
.block-content {
    justify-content: space-between;
    display: flex;
}
.block-text-left {
    justify-content: space-between;
    display: inline-block;
    width:506px;
    margin-bottom: 32px;
}
.small {
    font-size:20px;
    color:#121723;
    width:100%;
    max-width:506px;
}
.medium-text {
    width:100%;
    font-weight: 400;
    margin-bottom: 24px;
    max-width:327px;
    height:20px;
}
.medium {
    font-size:36px;
    color:#121723;
    font-weight:400;
    margin-top:24px;
    margin-bottom:24px;
    padding:0;
    margin-left:auto;
    margin-left:0;
}
.block-text-right {
    width:100%;
    max-width:506px;
    gap:24px;
    margin-left: 32px;
}
.medium-1 {
    font-size:30px;
    font-weight: 400;
}
.separator {
    height:1px;
    background-color: #121723;
    margin:24px 0px;
    flex-direction: column;
}
.very-small1 {
    float:right;
}
footer {
    background-color:#121723;
    padding:32px 0 20px 0;
}
.footer-top {
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}
.footer-top .social a {
    color:#fff;
}
.line {
    height:1px;
    background-color: rgba(230, 232, 236, 40%);
}
.footer-logo {
    width:300px;
}
.footer-bottom {
    text-align: center;
    font-size: 16px;
    color:#A1A6B4;
    font-weight: 700;
    margin-top:18px;
}footer {
    background-color:#121723;
    padding:32px 0 20px 0;
}
.footer-top {
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}
.footer-top .social a {
    color:#fff;
}
.separator1 {
    height:1px;
    background-color: rgba(230, 232, 236, 40%);
}
.link {
    text-decoration: none;
}
.footer-logo {
    width:300px;
}
.footer-bottom {
    text-align: center;
    font-size: 16px;
    color:#A1A6B4;
    font-weight: 700;
    margin-top:18px;
}
.medium-maybe {
    margin-top:48px;
    margin-bottom: 32px;
    font-size:48px;
    width:100%;
    color:#121723;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    gap:24px;
    padding: 32px 0;
    margin-top:32px;
}

.card-img {
    width: 100%;
}
.card-img1 {
    width: 100%;
    border-radius: 12px;
}
.card-text {
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    gap:10px;
    align-content: start;
    align-items: start;
}
.big-card-text {
    color:#121723;
    font-size:26px;
    font-weight:700;
    text-decoration: none;
}
.small-text-card {
    color:#121723;
    font-size: 20px;
    font-weight:400;
    text-decoration: none;
}
.card {
    border-radius: 12px;
    width:calc(33.3333% - 16px);
    background-color: #fff;
}
@media screen and (max-width: 1000px) {
.image-cross1{
    width:100%;
    max-width:327px;
    height:172px;
}
.big {
    font-size:32px;
    text-decoration: none;
}
.block-card {
    padding:24px;
    border-radius: 12px;
    padding-bottom: 24px;
    margin-bottom: 24px;
    }
.medium-text {
    width:100%;
    margin-bottom:24px;
}
.link {
    text-decoration: none;
}
.block-text-left {
    width:100%;
    display:flex;
    flex-direction: column;
    margin-bottom: 62px;
}
.small {
    font-size:16px;
    width:100%;
    max-width: 327px;
    height:592px;
}
.block-text-right {
    margin-left: 0px;
    width:100%;
    margin-top: 32px;
}
.medium-maybe {
    font-size: 32px;
}
}
@media screen and (max-width: 1000px) {
    .card {
    width:calc(100% - 12px);
    }
    .container {
        padding:0px 24px;
        margin: 0 auto;
    }
    .element {
        display:flex;
        flex-direction: column;
    }
.big-text {
    height:64px;
    width:100%;
    max-width:327px;
}
.medium-text {
    margin-top:24px;
    margin-bottom:24px;
}
.medium {
    font-size: 20px;
}
}
@media screen and (max-width: 820px) {
    .header-content {
        flex-direction: column;
    }
    .new {
        font-size:38px;
    }
    .container {
        padding: 0 80px;
    }
}
@media screen and (max-width: 760px) {
    .footer-top {
        flex-direction:column;
        margin-bottom: 15px;
    }
    .container {
        padding:0px 16px;
    }
    .medium-text {
        margin:0px 24px;

    }
}

@media screen and (max-width: 600px) {
   .container {
    padding:0 16px;
   }
}
@media screen and (max-width: 500px) {
    .card {
        width:100%;
    }
}